<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h2>Send Game</h2>

<form enctype="multipart/form-data" action="/add" method="post">
    Name: <br>
    <input type="text" name="Name" >
    <br>
    Platform:<br>
    <input type="text" name="Platform" >
    <br>
    Genre <br>
    <input type="text" name="Genre" >
    <br>
    ReleaseDate <br>
    <input type="text" name="ReleaseDate" >
    <br>
    NoOfPlayers <br>
    <input type="number" name="NoOfPlayers" >
    <br>
    Publisher<br>
    <input type="text" name="Publisher" >
    <br>
    BoxArt<br>
    <input type="file" name="BoxArt" >
    <br>
    <br><br>
    <input type="submit" value="Submit">
</form>


</body>
</html>